.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
}

#chat-messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

#chat-messages li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
}

.message-form {
  display: flex;
  align-items: center;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 10px;
}

#send-button {
  padding: 10px;
  background-color: #008000;
  color: white;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  main {
    flex-direction: column-reverse;
  }

  .chat-box {
    flex-grow: 0;
    height: 50vh;
  }
}
